:root{
    --primary_color: rgb(57, 118, 168);
    --secundary_color: rgb(19, 132, 150);
    --terciary_color: #ffffff187187187; 
}
.body{
    background-color: #ffffff255255255;    
}

section{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.section-mov{
	align-items: flex-start;	
	margin-top: 40px;
}

form{
    height: 700px;
    border-bottom: 12px solid var(--primary_color);
}

.title-client{
	 font-family:'Barlow', sans-serif;
	 font-weight: 100;
}
.container-form{
    height: 550px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--terciary_color);
    -webkit-box-shadow: 0px 11px 20px 6px rgba(0,0,0,0.76); 
    box-shadow: 0px 11px 20px 6px rgba(0,0,0,0.76);
    border-radius: 8px;
    border-top: 12px solid var(--primary_color);
    transition: 0.2s;
}

.mov{
    height: 350px;
    justify-content: flex-start;
}
.container-form > h3{
    font-family:'Barlow', sans-serif;
    height: 50px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.container-form > h3::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 2px;
    background-color: var(--primary_color);
    top: 1.5em;
    right: 100px;
    transition: .2s;
}

.col-form,.col-form-correo{
   /* background-color: crimson;*/
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: .2s;
}

.col-form-correo{
    justify-content: flex-start;
    margin-left: 45px;
}

.row-form{
    text-transform:uppercase;
    margin-right: 15px;
   
}
.date{
    margin-top: 2px;
    width: 160px;
}

.row-form > input, .drop-list{
    font-size: 17px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--primary_color);
    padding: 0px;
    width:90%;
    color: var(--primary_color);
    outline: 0px;
}



.drop-list{
	margin-top:5px;
    width: 160px;
    font-style: italic;
    font-family: serif;
}

.row-form > ::-webkit-input-placeholder,::-moz-placeholder,.disabled{
    color: var(--primary_color);
    font-size: 15px;
    font-style: italic;
    font-family: serif;
    text-transform: uppercase;
}

.btn-form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-register{
    background: var(--secundary_color);
    color: var(--terciary_color);
    width: 140px;
    height: 50px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn-register:hover{
    background-color: rgb(40, 105, 138);

}

@media only screen and (max-width: 700px){

    .container-form{
        height: 750px;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.2s;
    }
    .mov{
        height: 500px;
    }
    .date{
    	width: 215px;
	}
    
    .col-form{
        flex-direction: column;
        align-items:center;
        height: 160px;
        width: 370px;
        margin-top: 0px;
        transition: .2s;
    }
    .col-form-correo{       
        margin-left: 70px;
    }
    .container-form > h3::before{
        width: 300px;
        height: 3px;
        top: 1.5em;
        right: 40px;
    }
    .drop-list{
        width: 215px;
        margin-left: 0px;
    }
    .row-form > input{
        font-size: 17px;
        background: transparent;
        border: 0;
        border-bottom: 2px solid var(--primary_color);
        padding: 0px;
        width: 100%;
        color: var(--primary_color);
        outline: 0px;
       
    }

    .btn-form{
        margin-top: 25px;
    }
}